.principal{
    display: table;
}

@media(max-width: 500px){
    .card-data{
        display: table !important;
    }
}

.agendamento{
    font-size: 22px;
    padding: 22px;
}

.card-data{
    margin: 10px;
    display: flex;
}

.card-horario{
    padding: 16px;
    font-size: 14px;
}

.card-servicos{
    padding: 16px;
    font-size: 14px;
}

.demo-inline-calendar-card {
    width: 250px;
}

.font-subtitle{
    font-size: 16px;
    font-weight: 500;
}

.data-select{
    display: flex;
}

.buton-confirmar{
    width: 120px;
    background-color: rgb(4, 116, 4);
    margin-right: 35px;
}

.buton-remover{
    width: 120px;
    background-color: #bd495c;
}

mat-form-field{
    width: 250px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 100;
    background-color: #121212;
}