<div class="page-login">
    <div class="logo-login">
        <img src="\assets\logo.png" style="height: 100%;">
    </div>
    <div class="card-div">
        <mat-card class="login">
            <mat-card-content>
                <mat-tab-group >
                    <div class="group">
                    <mat-tab  label="ENTRAR">
                        <form class="form-login">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input matInput placeholder="Senha">
                            </mat-form-field>
                            <button mat-raised-button color="primary">ENTRAR</button>
                        </form>
                    </mat-tab>
                </div>
                <div class="group">
                    <mat-tab label="CADASTRO">
                        <form class="form-login">
                            <mat-form-field appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>CPF</mat-label>
                                <input matInput placeholder="Cpf">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Data Nascimento</mat-label>
                                <input matInput placeholder="DataNascimento">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input matInput placeholder="Digite sua Senha">
                            </mat-form-field>
                            <button mat-raised-button color="primary">CADASTRAR</button>
                        </form>
                    </mat-tab>
                </div>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>