.cadastro{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.button{
    display: flex;
    justify-content: space-between;
}

.button-cadastrar{
    width: 80px;
    font-size: 12px;
    padding: 0px;
    background-color: green;
}

.button-cancelar{
    width: 80px;
    font-size: 12px;
    padding: 0px;
    background-color: red;
}

.mat-form-field-appearance-outline .mat-form-field-flex{
    width: 200px;
}